
manifest {
    mainScript = 'main.nf'
}

profiles{
    docker {
            docker { 
                enabled = true
            }
            includeConfig 'container.config'
        }
}

params {
    reads = "/home/nine/Documents/workflow_comparison_analysis/nextflow/../data/small_test/*_{1,2}.fastq"
    accession = "SRR3287149"
    outdir = "/home/nine/Documents/workflow_comparison_analysis/nextflow/results"
    basedir = "/home/nine/Documents/workflow_comparison_analysis/nextflow"
    threads = 2

}