
manifest {
    mainScript = 'main.nf'
}

profiles{
    docker {
            docker { 
                enabled = true
            }
            includeConfig 'container.config'
        }
}

params {
    reads = "../data/*_{1,2}.fq"
    annot = "../data/ref-transcripts.gtf"
    genome = "../data/hg19.fasta"
    outdir = "results"
    basedir = "."
    threads = 2
    rrnadbpath = "../data/rrna_db"

}