
manifest {
    mainScript = 'main.nf'
}

profiles{
    docker {
            docker { 
                enabled = true
            }
            includeConfig 'container.config'
        }
}

params {
    reads = "/home/ninon/Documents/workflows_comparison_analysis/nextflow/../data/*_{1,2}.fq"
    annot = "/home/ninon/Documents/workflows_comparison_analysis/nextflow/../data/ref-transcripts.gtf"
    genome = "/home/ninon/Documents/workflows_comparison_analysis/nextflow/../data/hg19.fasta"
    outdir = "/home/ninon/Documents/workflows_comparison_analysis/nextflow/results"
    basedir = "/home/ninon/Documents/workflows_comparison_analysis/nextflow"
    threads = 2
    rrnadbpath = "/home/ninon/Documents/workflows_comparison_analysis/nextflow/../data/rrna_db"

}