
manifest {
    mainScript = 'main.nf'
}

profiles{
    docker {
            docker { 
                enabled = true
            }
            includeConfig 'container.config'
        }
}

params {
    num_regions = 10
    suffix_length = 5
    basedir = "/home/ninon/Documents/workflows_comparison_analysis/nextflow_MG2"
    reads = "/home/ninon/Documents/workflows_comparison_analysis/nextflow_MG2/../data/*_{1,2}.fq"
    annot = "/home/ninon/Documents/workflows_comparison_analysis/nextflow_MG2/../data/ref-transcripts.gtf"
    genome = "/home/ninon/Documents/workflows_comparison_analysis/nextflow_MG2/../data/hg19.fasta"
    outdir = "/home/ninon/Documents/workflows_comparison_analysis/nextflow_MG2/results"
    threads = 2
    rrnadbpath = "/home/ninon/Documents/workflows_comparison_analysis/nextflow_MG2/../data/rrna_db"

}