
manifest {
    mainScript = 'main.nf'
}

profiles{
    docker {
            docker { 
                enabled = true
            }
            includeConfig 'container.config'
        }
}

params {
    num_regions = 10
    suffix_length = 5
    basedir = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2"
    reads = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/../data/medium_test/*_{1,2}.fastq"
    outdir = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/results"
    threads = 2
    rrnadbpath = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/../data/rrna_db"

}