
manifest {
    mainScript = 'main.nf'
}

profiles{
    docker {
            docker { 
                enabled = true
            }
            includeConfig 'container.config'
        }
}

params {
    num_regions = 10
    suffix_length = 5
    basedir = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2"
    reads = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/../data/small_test/*_{1,2}.fastq"
    reference_genome = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/../data/GRCm39.fasta" 
    reference_annotation = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/../data/GRCm39.gtf"
    outdir = "/home/nine/Documents/workflow_comparison_analysis/nextflow_RS2/results"
}